In [20]:
library(tidyverse)
install.packages("janitor")
library(janitor)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [25]:
url <- "https://raw.githubusercontent.com/Syzophia/dsci100-group-37-project/main/adult.data"

adult_data <- read.csv(url) 
colnames (adult_data) <- c("age", "workclass", "fnlwgt", "education", "education_Level", "marital_status",
                            "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", 
                            "weekly_work_hours", "native_country", "income")
adult_data

      age workclass         fnlwgt education  education_Level
1     50   Self-emp-not-inc  83311  Bachelors 13
2     38   Private          215646  HS-grad    9
3     53   Private          234721  11th       7
⋮     ⋮   ⋮                 ⋮      ⋮          ⋮
32558 58   Private          151910  HS-grad   9
32559 22   Private          201490  HS-grad   9
32560 52   Self-emp-inc     287927  HS-grad   9
      marital_status      occupation         relationship   race   sex
1      Married-civ-spouse  Exec-managerial    Husband        White  Male
2      Divorced            Handlers-cleaners  Not-in-family  White  Male
3      Married-civ-spouse  Handlers-cleaners  Husband        Black  Male
⋮     ⋮                   ⋮                  ⋮              ⋮      ⋮
32558  Widowed             Adm-clerical       Unmarried      White  Female
32559  Never-married       Adm-clerical       Own-child      White  Male
32560  Married-civ-spouse  Exec-managerial    Wife           White  Female
      capital_gain capital_loss weekly_work_hours native_country income
1     0            0            13                 United-States  <=50K
2     0            0            40                 United-States  <=50K
3     0            0            40                 United-States  <=50K
⋮     ⋮            ⋮            ⋮                 ⋮              ⋮
32558     0        0            40                 United-States  <=50K
32559     0        0            20                 United-States  <=50K
32560 15024        0            40                 United-States  >50K